body {
    background-color: #000;
    font-family: Verdana, sans-serif;
}

.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    height: 100vh;
    color: #fff;
    background-color: #000;
}

.title {
    font-size: 50px;
    font-weight: normal;
    text-align: center;
}

.link {
    color: aquamarine;
    font-size: 16px;
}